.btn {
  padding: 1rem;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background: none;
  border-radius: 20px;
  cursor: pointer;
}

.btn:hover {
  background-color: #f2f2f2;
}
