.shirtSection {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.card {
  margin: 2rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border: 1px solid lightgray;
  border-radius: 3px;
}
.cardContent {
  padding: 10px;
}

.offer {
  color: #ee741f;
  font-size: 14px;
  line-height: 20px;
  margin-left: 5px;
}
.strike {
  text-decoration: line-through;
  color: #808080;
  font-weight: 400;
  margin-left: 15px;
}
.price {
  font-weight: 500;
}
